In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
file_path = 'D:\\GUVI\\Assesments\\Mental_Health_Survey\\CSV\\train.csv'

In [5]:
data = pd.read_csv(file_path)

In [6]:
data.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0
1,1,Vivan,Male,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1
2,2,Yuvraj,Male,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1
3,3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1
4,4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0

In [7]:
data.drop(columns = ['id','Name'], axis = 1, inplace = True)

In [8]:
data.isnull().sum()

Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [9]:
data['Gender'].value_counts()

Gender
Male      77464
Female    63236
Name: count, dtype: int64

In [10]:
data['Age'] = data['Age'].astype(int)

In [11]:
def check_city(city_name):
    city_list = ["Mumbai", "Delhi", "Bangalore", "Hyderabad", "Ahmedabad", "Chennai", "Kolkata", "Pune", "Jaipur", "Lucknow",
                 "Kanpur", "Nagpur", "Indore", "Thane", "Bhopal", "Visakhapatnam", "Patna", "Vadodara", "Vasai-Virar", "Ghaziabad", "Ludhiana",
                 "Agra", "Nashik", "Faridabad", "Meerut", "Rajkot", "Varanasi", "Srinagar", "Aurangabad", "Dhanbad", "Amritsar", "Kalyan"]

    return city_name if city_name in city_list else "Invalid"

data['City'] = data['City'].apply(check_city)
data.drop(data[data['City'] == 'Invalid'].index, inplace=True)

In [12]:
data['City'].value_counts

<bound method IndexOpsMixin.value_counts of 0              Ludhiana
1              Varanasi
2         Visakhapatnam
3                Mumbai
4                Kanpur
              ...
140695        Ahmedabad
140696        Hyderabad
140697          Kolkata
140698         Srinagar
140699            Patna
Name: City, Length: 135966, dtype: object>

In [13]:
data['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    109169
Student                  26797
Name: count, dtype: int64

In [14]:
data.drop(data[data['Profession'].isin([
        'Student', 'Academic', 'Profession', 'Yogesh', 'BCA', 'Unemployed', 'PhD',
        'MBA', 'LLM', 'Unveil', 'B.Com', 'FamilyVirar', 'City Manager', 'BBA',
        'Medical Doctor', 'Working Professional', 'MBBS', 'Patna', 'Pranav', 'B.Ed',
        'Nagpur', 'Moderate', 'M.Ed', 'Visakhapatnam', 'BE', 'Yuvraj'
    ])].index, inplace = True)

In [15]:
data['Profession'].fillna('Not Yet Disclosed', inplace = True)

In [16]:
data['Profession'].value_counts()

Profession
Not Yet Disclosed         35293
Teacher                   23922
Content Writer             7545
Architect                  4230
Consultant                 4113
HR Manager                 3906
Pharmacist                 3669
Doctor                     3156
Business Analyst           3073
Entrepreneur               2909
Chemist                    2848
Educational Consultant     2764
Chef                       2746
Data Scientist             2345
Researcher                 2255
Lawyer                     2162
Customer Support           2005
Marketing Manager          1908
Pilot                      1870
Travel Consultant          1796
Plumber                    1721
Sales Executive            1701
Manager                    1680
Judge                      1662
Electrician                1541
Financial Analyst          1508
Software Engineer          1478
Civil Engineer             1417
UX/UI Designer             1413
Digital Marketer           1329
Accountant                 1320
Finanancial Analyst        1305
Mechanical Engineer        1152
Graphic Designer           1119
Research Analyst            677
Investment Banker           378
Family Consultant             1
Dev                           1
Analyst                       1
Name: count, dtype: int64

In [17]:
data['Academic Pressure'].fillna(0, inplace = True)
data['Academic Pressure'] = data['Academic Pressure'].astype(int)

In [18]:
data['Work Pressure'].fillna(0, inplace = True)
data['Work Pressure'] = data['Work Pressure'].astype(int)

In [19]:
data['CGPA'].fillna(0, inplace = True)

In [20]:
data['Study Satisfaction'].fillna(0, inplace = True)
data['Study Satisfaction'] = data['Study Satisfaction'].astype(int)

In [21]:
data['Job Satisfaction'].fillna(0, inplace = True)
data['Job Satisfaction'] = data['Job Satisfaction'].astype(int)

In [22]:
def categorize_sleep(duration):
    duration = duration.lower()
    
    if any(x in duration for x in ["less than 5", "1-2", "2-3", "3-4", "4-5", "than 5"]):
        return "Less than 5 hours"
    elif any(x in duration for x in ["5-6", "4-6", "3-6", "6-7", "1-6"]):
        return "5-6 hours"
    elif any(x in duration for x in ["7-8", "6-8", "8 hours"]):
        return "6-8 hours"
    elif any(x in duration for x in ["more than 8", "8-9", "9-11", "10-11"]):
        return "More than 8 hours"
    else:
        return "Invalid"
    
data['Sleep Duration'] = data['Sleep Duration'].apply(categorize_sleep)
data.drop(data[data['Sleep Duration']=='Invalid'].index, inplace = True)

In [23]:
data['Sleep Duration'].value_counts()

Sleep Duration
6-8 hours            67289
Less than 5 hours    37529
5-6 hours            31073
More than 8 hours        6
Name: count, dtype: int64

In [24]:
def categorize_diet(habit):
    
    if pd.isna(habit):  
        return "Invalid"

    habit = str(habit).lower().strip() 

    words = habit.split() 

    if any(x in words for x in ["healthy", "more healthy"]):
        return "Healthy"
    elif "moderate" in words:
        return "Moderate"
    elif any(x in words for x in ["unhealthy", "less healthy", "less than healthy", "no healthy"]):
        return "Unhealthy"
    else:
        return "Invalid"
    
data['Dietary Habits'] = data['Dietary Habits'].apply(categorize_diet)
data.drop(data[data['Dietary Habits'] == 'Invalid'].index, inplace = True)

In [25]:
data['Dietary Habits'].value_counts()

Dietary Habits
Moderate     47931
Unhealthy    44673
Healthy      43271
Name: count, dtype: int64

In [26]:
top_28_degrees = data['Degree'].value_counts().head(28).index
data = data[data['Degree'].isin(top_28_degrees)]
data['Degree'].value_counts()

Degree
Class 12    14247
B.Ed        11139
B.Arch       8517
B.Com        7869
BCA          5605
B.Pharm      5582
M.Ed         5417
MCA          5065
BBA          4895
BSc          4857
MSc          4692
LLM          4551
M.Tech       4321
B.Tech       4318
M.Pharm      4313
LLB          4192
BHM          4153
MBA          3673
BA           3647
ME           3496
MD           3225
MHM          3169
BE           3048
PhD          3033
M.Com        2993
MBBS         2948
MA           2799
M.Arch          5
Name: count, dtype: int64

In [27]:
data['Have you ever had suicidal thoughts ?'].value_counts()

Have you ever had suicidal thoughts ?
No     68625
Yes    67144
Name: count, dtype: int64

In [28]:
data['Work/Study Hours'].value_counts().sort_index(ascending=True)
data['Work/Study Hours'] = data['Work/Study Hours'].astype(int)

In [29]:
data['Financial Stress'].fillna(data['Financial Stress'].median(), inplace = True)
data['Financial Stress'] = data['Financial Stress'].astype(int)

In [30]:
data['Financial Stress'].value_counts()

Financial Stress
2    30376
5    27320
4    26785
1    26202
3    25086
Name: count, dtype: int64

In [31]:
data['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
No     68285
Yes    67484
Name: count, dtype: int64

In [32]:
data['Depression'].value_counts()

Depression
0    111197
1     24572
Name: count, dtype: int64

In [33]:
data.isnull().sum()

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [34]:
data.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49,Ludhiana,Working Professional,Chef,0,5,0.00,0,2,6-8 hours,Healthy,BHM,No,1,2,No,0
1,Male,26,Varanasi,Working Professional,Teacher,0,4,0.00,0,3,Less than 5 hours,Unhealthy,LLB,Yes,7,3,No,1
2,Male,33,Visakhapatnam,Student,Not Yet Disclosed,5,0,8.97,2,0,5-6 hours,Healthy,B.Pharm,Yes,3,1,No,1
3,Male,22,Mumbai,Working Professional,Teacher,0,5,0.00,0,1,Less than 5 hours,Moderate,BBA,Yes,10,1,Yes,1
4,Female,30,Kanpur,Working Professional,Business Analyst,0,1,0.00,0,1,5-6 hours,Unhealthy,BBA,Yes,9,4,Yes,0

In [35]:
data.to_csv('D:\\GUVI\\Assesments\\Mental_Health_Survey\\CSV\\cleaned_data.csv', index = False)